.image-picker {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.column {
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.logo {
    max-width: 40%;
}

.user-image {
    object-fit: contain;
    max-height: 82vh !important;
    max-width: 96vw !important;
}

.discard-image-btn { margin-top: 1em; }
.choose-crop-btn { margin-bottom: 1em; }
